.input:focus{
    outline: none;
}

.PBorder{
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255); 
    text-stroke: 1px rgb(255, 255, 255);
}

.myElement {
    overflow: auto;
  }
  
  .myElement::-webkit-scrollbar {
    width: 8px;
  }
  
  .myElement::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .myElement::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  .myElement::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .gridArea{
    grid-area: 1/1/2/2;
  }
